div, header, footer{
	border:1px solid #444;
}


nav div{
	float: right;
}
nav img{
	height: 20px;
	width: 20px;
}

nav *{
	margin: 4px 10px;
}
nav div a{
	vertical-align: 10px;
	text-decoration: none;	
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: #444;
}

#profile-pic{
	border-radius: 20px;
	border: 1px solid #444;
	height: 24px;
	width: 24px;
}

#search-wrapper{	
	margin: 10% auto auto;
	width: 50%;
	text-align: center;
}

#logo{
	font-family: 'Poppins', Helvetica, sans-serif;
	font-size: 84px;
	align-self: center;
	display: inline;
}
#logo span{
	display: inline;
}

#logo #G{
	color: #4885ed;
}

#logo #o {
	color: #db3236;
}

#logo #o2 {
	color: #f4c20d;
}

#logo #g {
	color: #4885ed;
}

#logo #l {
	color: #3cba54;
}

#logo #e {
	color: #db3236;
}